{
  "branches": [
    "mochi-web-prod",
    {
      "name": "main",
      "prerelease": "rc"
    },
    {
      "name": "cicd",
      "prerelease": "rc"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false
      }
    ],
    "@semantic-release/git"
  ]
}
